body {
  padding: 1rem 2rem 2rem;
}

@media (max-width: 600px) {
  body {
    padding: 0 1rem 1rem;
  }
}

p {
  margin: 0 0 8px;
  font-size: 1.15rem;
}

h1 {
  font-weight: 500;
}

.question-label {
  font-weight: 500;
  color: #5c3f98;
  margin: 0 0 8px;
}

#description {
  padding: 1.5rem;
  color: #3d3d3d;
  background-color: #f2f8f9;
  border-radius: 10px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #dbd2ec, #f3f0f9);
}

#quiz {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 0rem 0.5rem;
  margin-top: 2rem;
}

#submit-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f3f7fe;
  color: #5c3f98;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

#submit-button:hover {
  background-color: #5c3f98;
  box-shadow: 0 0 0 2px #7f58cd;
  color: #fff;
}

.canvas-wrapper {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  margin: auto;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
